# This file contains the configuration parameters for the Galaxy demonstrator.
# The parameters are used to configure the various components of the system.
# Variables marked with {{ }} are placeholders that should be replaced with
# the appropriate values for your deployment.

# ------------------------------------------------------------------------------
# Parameters to configure the Galaxy instance

# The path to this repo
REPO_PATH=/home/owool/Projects/2025/RSE-Galaxy

# The group ID of the docker group on the host machine, to allow the Galaxy
# container to access the docker socket.

# To populate, run: getent group docker
# DOCKER_GID should be set to the numeric value
DOCKER_GID={{YOUR_DOCKER_GID}}

# The username and password for the Galaxy admin user
GALAXY_ADMIN_EMAIL={{admin@example.org}}
GALAXY_ADMIN_USER={{admin}}
GALAXY_ADMIN_PASS={{adminadmin}}
GALAXY_API_KEY={{iamanadminyouknow}}
GALAXY_ID_SECRET={{replaceme}}

# Galaxy config
GALAXY_VERSION=25.0.2

# ------------------------------------------------------------------------------
# General configuration parameters

# A unique identifier for the project
PROJECT_NAME={{galaxy-demo}}

# ------------------------------------------------------------------------------
# File storage parameters

MINIO_ROOT_USER={{minioadmin}}
MINIO_ROOT_PASSWORD={{miniogalaxy}}
MINIO_ACCESS_KEY={{minioadmin}}
MINIO_SECRET_KEY={{miniogalaxy}}
