- type: s3fs
  # UI
  id: galaxy-minio-storage
  label: MinIO storage
  doc: Galaxy MinIO S3 storage
  # Config
  anon: false
  endpoint_url: "http://minio:9000"
  bucket: galaxy
  key: $MINIO_ACCESS_KEY
  secret: $MINIO_SECRET_KEY
